<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Produtos - Padoca do Saep</title>
  </head>
  <body>
    <h1>Cadastro de Produtos</h1>
    <a href="/principal">Voltar a tela principal</a>

    <form method="get" action="/produtos">
      <input
        type="text"
        name="buscaProduto"
        th:value="${buscaProduto}"
        placeholder="Buscar produto..."
      />
      <button type="submit">Buscar Produtos</button>
    </form>

    <table border="1">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Estoque Mínimo</th>
        <th>Categoria</th>
      </tr>
      <tr th:each="produto : ${produtos}">
        <td th:text="${produto.nome}"></td>
        <td th:text="${produto.descricao}"></td>
        <td th:text="${produto.quantidade}"></td>
        <td th:text="${produto.estoqueMinimo}"></td>
        <td th:text="${produto.categoria}"></td>
        <td>
          <form th:action="@/produtos/deletar/{id}(id={produto.id})" method="post" >Excluir</form>
        </td>
      </tr>
    </table>

    <h2>Novo Produto :)</h2>
    <form method="post" action="/produtos/salvar">
      <label>Nome</label>
      <input type="text" name="nome" /><br />

      <label>Descrição</label>
      <input type="text" name="descricao" /><br />

      <label>Quantidade</label>
      <input type="number" name="quantidade" /><br />

      <label>Estoque Mínimo</label>
      <input type="number" name="estoqueMinimo" /><br />

      <label>Categoria</label>
      <input type="text" name="categoria" /><br />

      <button type="submit">Criar Produto</button>
    </form>
  </body>
</html>
